.registerContainer{
  height: 100%;
  width: 100%;
  background-color: turquoise;
  position: absolute;
  left: calc(5%/2);
  top: 90px;
  overflow: hidden;
  margin-top: 34px;
  margin-left: -37px;
  overflow-x: hidden;
}

