.gridContainer {
    height: 100%;
    width:100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 10px;
}

.headline {
    display: inline-block;
    width: calc(98% - 140px);
    bottom: 20px;
    vertical-align: top;
    margin-left: 1%;
}

a[href^="https"] {
    color:black;
    text-decoration: none;
}

.iframely-responsive {
    height: 140px;
    padding-bottom: 0;
}

.iframely-responsive>img {
    height: 140px;
    width: 140px;
    object-fit: cover;
    display: inline-block;
}


.news-hoverInfo {
  
  background: green;
  margin:10px auto 10px 22px;
  transition: all ease 2s;
}

.card {
  z-index: 1;
  position: absolute;
  background-color: #FFF;
  width: 80%;
  height: 100%;
  margin: auto;
  border-radius: 1%;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  transform: scale(0.8);
  top: 0px;
  left: calc(79%/3);
}

.card:hover {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.45);
}

.card img {
  width: 50%;
  margin-left: calc(100%/2 - 50%/2);
  border-radius: 1% 1% 0 0;
}

h4 {
  font-family: Roboto, sans-serif;
  font-size: 37px;
  font-weight: bold;
  margin: 20px 30px 0px;
}

.card p {
  font-size: 30px;
  font-weight: 300;
  width: 80%;
  margin: 8px 30px 0px;
  color: #757575;
}



/* Global */
*,
*:before,
*:after {
  box-sizing: border-box;
}


a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  transition: transform 1s ease-out;
}

/* Article card */
.article-card {
  max-width: 340px;
  height: 390px;
  margin: 10px auto;
  background: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-out;
  border-radius: 1em 1em 0.5em 0.5em;
}
.article-card:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.article-card:hover .article-card__excerpt {
  height: 130px;
  visibility: visible;
}
.article-card:hover .article-card__thumbnail {
  height: 170px;
}
.article-card:hover .article-card__thumbnail img {
  transform: scale(1.4);
}
.article-card:hover .article-card__timestamp {
    opacity: 0;
}
.article-card__thumbnail {
  overflow: hidden;
  height: 170px;
  transition: all 0.5s ease;
  border-radius: 0.5em 0.5em 0 0;
  overflow: hidden;
}
.article-card__thumbnail img {
  transition: all 0.5s ease;
}
.article-card__content {
  padding: 15px;
}
.article-card__title {
  margin: 0;
  font-size: 1em;
  line-height: 1.3em;
  margin-bottom: 10px;
}
.article-card__meta {
  color: #777;
}
.article-card__meta i {
  margin-right: 5px;
  display: inline-block;
  font-size: 10px;
}
.article-card__timestamp {
  display: inline-block;
  margin-right: 5px;
  font-size:17px;
}
.article-card__excerpt {
  height: 1px;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.3s ease;
}