.pageHolder{
    height: 80%;
    width: 95%;
    background-color: lightblue;
    position: absolute;
    left: calc(5%/2);
    top: 90px;
    overflow: hidden;
  }

.submitButton{
    position: absolute;
    margin: auto;
    background-color: #f44336;
    border: aliceblue;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-Top: 10px;
    margin-left: -34px;
}

.loginContainer {
    height: 30%;
    width: 40%;
    top: calc((100% - 30%)/2);
    position: absolute;
    left: calc((100% - 40%)/2);
    display: block;
    text-align: center;
}

.logout {
    width: 30%;
    height: 20%;
    left: calc((100% - 30%)/2);
    position: absolute;
    top: 50%;
}

.login {
    width: 30%;
    height: 20%;
    left: calc((100% - 30%)/2);
    position: absolute;
}

.modalLogIn{
    background: white;
}

.inputStock{
    padding-bottom: 10px;
}