  .home{
    background-color: #18191A;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .mainContainer{
    height: 80%;
    width: 95%;
    background-color: lightblue;
    position: absolute;
    left: calc(5%/2);
    top: 90px;
    overflow: hidden;
  }